* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url('fondo.jpg');
  }

  h4{
    text-align:center;
  }
  
  .form-register {
    width: 400px;
    background: #FADBD8  ;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    border-radius: 3px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
    font-family: "Karma", sans-serif;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: white ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #E9967A;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
    font-family: "Karma", sans-serif;
  }
  
  .imagen{
    display:block;
    margin:auto;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .button {
    width: 100%;
    background: #E9967A;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .buttons {
    min-width: 250px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .buttons a {
    display:inline-block;
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #F08080;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }