
  .buttons {
    min-width: 250px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .buttons a {
    display:inline-block;
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #F08080;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }